.game {
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.game * {
	transition: all 0.2s ease-in-out;
}

.game-title {
	position: absolute;
	top: 120px;
	font-size: 36px;
	color: var(--color);
	filter: drop-shadow(0 0 1px #004362) drop-shadow(0 0 1px #004362) drop-shadow(0 0 1px #004362)
		drop-shadow(0 0 1px #004362) drop-shadow(0 0 1px #004362) drop-shadow(0 0 1px #004362);
	letter-spacing: 1px;
}

.top-speeds {
	position: absolute;
	top: 240px;
	flex-direction: column;
}

.top-speeds h2 {
	font-size: 20px;
	margin-bottom: 16px;
}

.top-speeds b {
	font-size: 16px;
	color: #aaa;
}

.top-speeds b:nth-of-type(1) {
	color: #ffbf00;
}

.top-speeds b:nth-of-type(2) {
	color: #dbdbdb;
}

.top-speeds b:nth-of-type(3) {
	color: #bb8f4c;
}

.start-game-button {
	position: absolute;
	bottom: 140px;
}

.game-info {
	position: absolute;
	bottom: 12px;
	margin: 0;
	font-size: 12px;
	color: #aaa;
	opacity: 0;
}

.game-buttons {
	position: absolute;
	bottom: 36px;
	gap: 10px;
}

.game-button {
	opacity: 0;
	width: 60px;
	height: 60px;
	margin: 0;
	border-width: 2px;
	padding: 0;
}

.button-icon {
	font-size: 42px;
	/* transform: scale(2); */
	margin: 0;
	filter: drop-shadow(0px 0px 1px #000);
}
.button-icon svg {
	width: 42px;
	height: 42px;
}

.game-icon {
	position: absolute;
	font-size: 36px;
	width: 42px;
	height: 42px;
	margin-left: 4px;
	margin-top: 4px;
	opacity: 0;
	filter: drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000);
}

/* .location {
	position: absolute;
	width: 50px;
	height: 50px;
	background: var(--color);
	opacity: 0.5;
} */

.game-time {
	position: absolute;
	top: 20px;
	opacity: 0;
	font-size: 16px;
}

.game-button-counter {
	position: absolute;
	top: -24px;
	opacity: 0;
	font-size: 16px;
}

.game-button-counter.wrong {
	color: #f00;
}

.round-number {
	font-size: 72px;
}

.lost-game {
	position: absolute;
	opacity: 0;
	flex-direction: column;
}

.lost-game h2 {
	font-size: 48px;
}

.lost-game b {
	font-size: 18px;
	color: #aaa;
	margin-top: 12px;
}

.lost-game b:nth-of-type(1) {
	margin-top: 24px;
}

.lost-game b:nth-of-type(2) {
	color: #fff;
}

.won-game {
	position: absolute;
	opacity: 0;
	flex-direction: column;
}

.won-game h2 {
	font-size: 48px;
	color: var(--color);
	filter: drop-shadow(0 0 1px #004362) drop-shadow(0 0 1px #004362) drop-shadow(0 0 1px #004362)
		drop-shadow(0 0 1px #004362) drop-shadow(0 0 1px #004362) drop-shadow(0 0 1px #004362);
	letter-spacing: 1px;
}

.won-game b {
	font-size: 18px;
	color: #fff;
	margin-top: 12px;
	margin-bottom: 0;
}

.round-label {
	font-size: 14px;
	position: absolute;
	bottom: 110px;
	color: #fff;
	opacity: 0;
}

.particle {
	position: absolute;
	width: 40px;
	height: 40px;
	pointer-events: none;
	z-index: 0 !important;
}

.helper {
	position: absolute;
	left: -25px;
	bottom: 100px;
	width: 50px;
	height: 50px;
	opacity: 0;

	animation: bounce-top 1.3s infinite alternate both;
}

@keyframes bounce-top {
	0% {
		transform: translateY(-12px);
		animation-timing-function: ease-in;
	}
	40% {
		transform: translateY(-8px);
		animation-timing-function: ease-in;
	}
	65% {
		transform: translateY(0) rotate(35deg);
		animation-timing-function: ease-in;
	}
	82% {
		transform: translateY(0);
		animation-timing-function: ease-in;
	}
	93% {
		transform: translateY(0px);
		animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
	}
}

.hint {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 20px;
	bottom: 105px;
	transform: scale(0) rotate(0deg);
	transition: all 0.5s ease-in-out;
	filter: grayscale(1) drop-shadow(0px 0px 5px black) brightness(10);
}

.hint.active {
	transform: scale(1) rotate(360deg);
}
